.header {
  color: white;
  text-align: left;
}
.card-body {
  background-color: white;
  border-radius: 8px 8px;
  margin: 5px;
}
.team-logo-home {
  height: 70px;
}
.card-background {
  background: green;
  border-radius: 8px;
}
